@use "variables" as *;
@use "mixin" as *;

.section__bg {
  background-image: url(../images/sectionBg_picture_bg_320);
  @include bgItems;
  margin-right: auto;
  margin-left: auto;
  min-height: 250px;
}

@media (min-width: $tablet) {
  
  .section__bg {
    background-image: url(../images/sectionBg_picture_bg_768.jpg);
    min-height: 500px;
  }
}

@media (min-width: $desktop) {

  .section__bg {
    background-image: url(../images/sectionBg_picture_bg_1024.jpg);
    min-height: 600px;
  }
}

@media (min-width: $oversize) {

  .section__bg {
    background-image: url(../images/sectionBg_picture_bg_1920.jpg);
    min-height: 800px;
  }
}
